@model IEnumerable<HappyVet.Models.RegistroMascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Mascotas</h1>

<p>
    <div class="row">
        <div class="col-sm">
            <a asp-action="Create" class="btn btn-outline-secondary">Nuevo Registro</a>
            &nbsp;&nbsp;
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamaño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <img src="~/images/@item.ImagemMascota"
                         class="rounded-start"
                         height="150" width="150"
                         asp-append-version="true" />
                   
                </td>
            
           
            <td>
                @Html.DisplayFor(modelItem => item.TipoAnimal.Descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Raza.Descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tamaño.Descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Edad.Descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
